#!/usr/bin/make -f

MAKE_OPTIONS := gitexecdir=/usr/lib/git-core
MAKE_OPTIONS += vimdir=/usr/share/vim/addons

%:
	dh $@

override_dh_auto_build:
	make $(MAKE_OPTIONS) all

override_dh_auto_install:
	make install DESTDIR=debian/gitolite-tools $(MAKE_OPTIONS) install
